@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-10vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInCenter {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(25vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeImageAboutMeLeft {
    0% {
        opacity: 0;
        transform: translateX(-25vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes prova {
    0% {}

    100% {
        height: 100px;
    }

}