/* Media Query per schermi piccoli */
@media (max-width: 768px) {
    .gallery-content {
        width: 48%;
        /* Due elementi per riga su dispositivi medi */
        margin: 1%;
    }
}

@media (max-width: 480px) {
    .gallery-content {
        width: 98%;
        /* Un elemento per riga su dispositivi piccoli */
        margin: 1%;
    }
}



/* ----------------------------------- */


/* Layout per orientamento landscape */

@media (min-width: 1920px) and (min-aspect-ratio: 1/1) {
    #gallery-container {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(4, 1fr);

    }
}

@media (min-width: 1280px) and (max-width: 1919px) and (min-aspect-ratio: 1/1) {
    #gallery-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .gallery-item {
        width: 28vw;
    }

    .about-container {
        flex-direction: row;
    }
}

@media (min-width: 681) and (max-width: 1279px) and (min-aspect-ratio: 1/1) {
    #gallery-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .gallery-item {
        width: 45vw;
    }

    .about-container {
        flex-direction: column;
    }
}

/* Layout per schermi molto piccoli in modalità landscape */
@media (min-width: 320px) and (max-width: 680px) and (min-aspect-ratio: 1/1) {
    #gallery-wrapper {
        height: 65vh;
    }

    #gallery-container {
        grid-template-columns: repeat(1, 1fr);
        /* 1 colonna */
        grid-template-rows: repeat(1, 1fr);
        /* 1 riga */
    }

    .about-container {
        flex-direction: column;
    }

}

@media (max-height: 600px) and (min-aspect-ratio: 1/1) {
    #gallery-container {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery-item {
        width: 50vw;
    }

    .about-container {
        flex-direction: column;
    }
}

@media (max-width: 680px) and (min-aspect-ratio: 1/1) {
    #gallery-container {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery-item {
        width: 50vw;
    }

    .about-container {
        flex-direction: column;
    }
}

/* Layout per orientamento portrait */

@media (min-width: 1024px) and (max-width: 1279px) and (max-aspect-ratio: 1/1) {
    #gallery-container {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1024px) and (max-aspect-ratio: 1/1) {
    #gallery-container {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-aspect-ratio: 1/1) {

    .about-image {
        width: 0%;
    }

}